/.awcache/
/.idea/
/.gradle/
/build/
/classes/
/coverage/
/gradle/wrapper/gradle-wrapper.jar
/node_modules/
/out/
/src/main/resources/static/
/arch-playground-spring.iml
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
